:root {
  --leadearboard-item-border: #2126319d;
  --leadearboard-item-shadow: rgba(0, 0, 0, 0.2);
  --leadearboard-item-bg: #e0e4eb;
  --leadearboard-item-bg-hover: #ffffff;
  --leadearboard-item-title: #000;
  --leadearboard-item-category: #1f46a6;
  --leadearboard-item-des: #0a0e15;
  --leadearboard-item-email: #212631cd;
  --leadearboard-item-dislike: #ff0000;
  --leadearboard-item-comment: #000;
}

[data-theme="light"] {
  --leadearboard-item-border: #2126319d;
  --leadearboard-item-shadow: rgba(0, 0, 0, 0.2);
  --leadearboard-item-bg: #ffffff;
  --leadearboard-item-bg-hover: #f4f4f4;
  --leadearboard-item-title: #000;
  --leadearboard-item-category: #1f46a6;
  --leadearboard-item-des: #0a0e15;
  --leadearboard-item-email: #212631cd;
  --leadearboard-item-dislike: #ff0000;
  --leadearboard-item-comment: #000;
}

.leaderboard-title {
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
}

.leaderboard-list {
  padding-block: 1.1rem 0rem;
  padding-inline: 0.75rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.25rem;
  background-color: transparent;
}

.leaderboard-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--leadearboard-item-shadow);
  padding-block: 0 1rem;
  gap: 1rem;
}

.leaderboard-user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.leaderboard-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard-avatar img {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  box-shadow: -2px 2px 5px 2px var(--leadearboard-item-shadow);
}

.leaderboard-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.leaderboard-name {
  font-size: 1rem;
  font-weight: 600;
}
.leaderboard-name.isUser{
  font-weight: 700;
  color: var(--leadearboard-item-category);
}

.leaderboard-email {
  color: var(--leadearboard-item-email);
  font-size: 0.9rem;
  font-weight: 400;
}

.leaderboard-score {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.leaderboard-score p {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .leaderboard-list {
    padding-inline: 0.25rem;
    padding-block: 1rem 0rem;
  }
}
@media screen and (max-width: 368px) {
  .leaderboard-title {
    font-size: 1.3rem;
  }
  .leaderboard-list {
    padding-inline: 0rem;
  }
  .leaderboard-avatar img {
    width: 2.75rem;
    height: 2.75rem;
  }
  .leaderboard-user {
    gap: 0.5rem;
  }
  .leaderboard-name {
    font-size: 0.9rem;
  }
  .leaderboard-email {
    font-size: 0.7rem;
  }
  .leaderboard-score p {
    font-size: 0.9rem;
  }
}
