:root {
  --thread-detail-con-bg: #0a0e15;
  --thread-detail-con-border: #212631;
  --thread-detail-con-shadow: rgba(255, 255, 255, 0.2);
  --thread-detail-title: #ffffff;
  --thread-detail-des: #ffffff;
  --thread-detail-date: #ffffffc1;
}

[data-theme="light"] {
  --thread-detail-con-bg: #ffffff;
  --thread-detail-con-border: #212631;
  --thread-detail-con-shadow: rgba(0, 0, 0, 0.2);
  --thread-detail-title: #212631;
  --thread-detail-des: #212631;
  --thread-detail-date: #212631cd;
}

.detail-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem 2rem 2rem;
  background-color: var(--thread-detail-con-bg);
  border-radius: 16px;
  border: 1px solid var(--thread-detail-con-border);
  box-shadow: 0 5px 10px var(--thread-detail-con-shadow);
}

.threads-item.detail {
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 5px 10px transparent;
  background-color: transparent;
}

.threads-item.detail:hover {
  background-color: transparent;
}

.threads-item.detail h3 {
  color: var(--thread-detail-title);
  font-size: 2rem;
}

.thread-des.detail p {
  color: var(--thread-detail-des);
  font-size: 1.1rem;
}
.thread-des.detail p b,
.thread-des.detail p strong,
.thread-des.detail p i {
  color: var(--thread-detail-des);
}

.thread-date.detail p {
  color: var(--thread-detail-date);
  font-size: 1rem;
}
