:root {
  --thread-detail-border: #2126319d;
  --thread-detail-shadow: rgba(0, 0, 0, 0.2);
  --thread-detail-bg: #e0e4eb;
  --thread-detail-bg-hover: #ffffff;
  --thread-detail-title: #000;
  --thread-detail-category: #1f46a6;
  --thread-detail-des: #0a0e15;
  --thread-detail-date: #212631cd;
  --thread-detail-dislike: #ff0000;
  --thread-detail-comment: #000;
}

[data-theme="light"] {
  --thread-detail-border: #2126319d;
  --thread-detail-shadow: rgba(0, 0, 0, 0.2);
  --thread-detail-bg: #ffffff;
  --thread-detail-bg-hover: #f4f4f4;
  --thread-detail-title: #000;
  --thread-detail-category: #1f46a6;
  --thread-detail-des: #0a0e15;
  --thread-detail-date: #212631cd;
  --thread-detail-dislike: #ff0000;
  --thread-detail-comment: #000;
}

.detail-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: transparent;
}

.threads-item-detail {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  transition: 0.3s ease;
  justify-content: start;
  width: 100%;
  overflow: auto;
  height: 100%;
}
.threads-detail-detail:hover {
  background-color: var(--thread-detail-bg-hover);
  transition: 0.3s ease;
}

/* HEAD */

.thread-header-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

.thread-avatar-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thread-avatar-detail img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  box-shadow: -2px 2px 5px 2px var(--thread-detail-shadow);
}

.thread-name-detail {
  color: var(--thread-detail-title);
  font-size: 1.3rem;
  font-weight: 600;
}

.thread-email-detail {
  color: var(--thread-detail-date);
  font-size: 1rem;
}

.thread-date-detail {
  color: var(--thread-detail-date);
  font-size: 0.9rem;
  margin-block: 0.2rem 0;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.75rem;
  font-weight: 500;
}
.thread-date-detail span {
  position: relative;
}
.thread-date-detail span:before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: var(--thread-detail-date);
  top: 50%;
  left: -0.5rem;
  transform: translateY(-50%);
}

/* BODY */
.thread-body-detail {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.thread-title-detail {
  color: var(--thread-detail-title);
  font-size: 1.45rem;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.thread-des-detail {
  color: var(--thread-detail-des);
  font-size: 1.1rem;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.thread-des-detail p,
.thread-des-detail div,
.thread-des-detail b,
.thread-des-detail strong,
.thread-des-detail i {
  color: var(--thread-detail-des);
}

.thread-category-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.25rem;
}
.thread-category-detail p {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  color: var(--thread-detail-category);
  border: 1px solid var(--thread-detail-border);
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

/* FOOT */

.thread-footer-detail {
  margin-block: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.thread-numbers-container-detail {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.thread-votes-number-detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.thread-votes-number-detail span {
  position: relative;
  padding-inline: 0.5rem;
}
.thread-votes-number-detail span:before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--thread-item-date);
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.thread-number-detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.thread-number-detail p {
  color: var(--thread-detail-date);
  font-size: 1rem;
  font-weight: 500;
}
.thread-number-detail svg {
  color: var(--thread-detail-date);
  font-size: 1.1rem;
  font-weight: 500;
}

.thread-actions-container-detail {
  padding-block: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  border-top: 1px solid var(--thread-detail-shadow);
  border-bottom: 1px solid var(--thread-detail-title);
}

.thread-action-detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--thread-detail-des);
  font-size: 1.1rem;
  font-weight: 500;
}
.thread-action-detail:hover {
  color: var(--thread-detail-category);
}

.thread-action-detail.active {
  color: var(--thread-detail-category);
}

.thread-action-detail.comment .solid {
  display: none;
}
.thread-action-detail.comment:hover {
  color: var(--thread-detail-comment);

  .solid {
    display: block;
  }
  .no-solid {
    display: none;
  }
}

.thread-action-detail.red:hover {
  color: var(--thread-detail-dislike);
}

.thread-action-detail.red.active {
  color: var(--thread-detail-dislike);
}

@media screen and (max-width: 500px) {
  .threads-item-detail {
    padding: 0.25rem;
  }
  .thread-avatar-detail img {
    width: 3.75rem;
    height: 3.75rem;
  }
  .thread-name-detail {
    font-size: 1.2rem;
  }
  .thread-email-detail {
    font-size: 0.9rem;
  }
  .thread-date-detail {
    font-size: 0.9rem;
  }
  .thread-title-detail {
    font-size: 1.2rem;
  }
  .thread-des-detail {
    font-size: 1rem;
  }
  .thread-category-detail p {
    font-size: 0.95rem;
  }
  .thread-footer-detail {
    margin-top: 0.25rem;
  }
  .thread-votes-number-detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
  }
  .thread-votes-number-detail span {
    display: none;
  }

  .thread-number-detail p {
    font-size: 0.9rem;
  }
  .thread-number-detail svg {
    font-size: 1rem;
  }
  .thread-action-detail {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .thread-action-detail p {
    display: none;
  }
  .thread-action-detail svg {
    font-size: 1.2rem;
  }
}
