:root {
  --add-btn-bg: #ffffff;
  --add-btn-bg-hover: #101217;
  --add-btn-shadow: rgba(125, 125, 125, 0.305);
  --add-icon: #101217;
  --add-icon-hover: #ffffff;
}

[data-theme="light"] {
  --add-btn-bg: #101217;
  --add-btn-bg-hover: #ffffff;
  --add-btn-shadow: rgba(0, 0, 0, 0.305);
  --add-icon: #ffffff;
  --add-icon-hover: #101217;
}

#addThreadBtn {
  flex: 1;
  margin-block: 1.75rem 1rem;
  bottom: 32px;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  position: sticky;
  align-self: self-end;
}

#addThreadBtn a {
  background-color: var(--add-btn-bg);
  border-radius: 100%;
  padding: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: -1px 1px 5px 3px var(--add-btn-shadow);
}
#addThreadBtn a:hover {
  background-color: var(--add-icon);
  box-shadow: -2px 2px 5px 5px var(--add-btn-shadow);

  svg path {
    color: var(--add-btn-bg);
  }
}

#addThreadBtn a svg {
  font-size: 1.5rem;
}
#addThreadBtn a svg path {
  color: var(--add-icon);
}

@media screen and (max-width: 500px) {
  #addThreadBtn a {
    padding: 14px;
  }
  #addThreadBtn a svg {
    font-size: 1.25rem;
  }
}
