:root {
  --thread-item-border: #212631;
  --thread-item-shadow: rgba(0, 0, 0, 0.2);
  --thread-item-bg: #e0e4eb;
  --thread-item-bg-hover: #ffffff;
  --thread-item-title: #0a0e15;
  --thread-item-title-hover: #1f46a6;
  --thread-item-des: #212631;
  --thread-item-date: #212631cd;
}

[data-theme="light"] {
  --thread-item-border: #212631;
  --thread-item-shadow: rgba(0, 0, 0, 0.2);
  --thread-item-bg: #ffffff;
  --thread-item-bg-hover: #f4f4f4;
  --thread-item-title: #0a0e15;
  --thread-item-title-hover: #1f46a6;
  --thread-item-des: #212631;
  --thread-item-date: #212631cd;
}

.thread {
  display: flex;
  align-items: stretch;
}

.threads-item {
  border-bottom: 1px solid var(--thread-item-border);
  padding: 1rem 2rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition: 0.3s ease;
  justify-content: start;
  width: 100%;
  overflow: auto;
  height: 100%;
}
.threads-item:hover {
  background-color: var(--thread-item-bg-hover);
  transition: 0.3s ease;
}

/* HEAD */

.thread-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.thread-avatar img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.thread-date {
  color: var(--thread-item-date);
  font-size: 0.8rem;
  margin-block: 0;
}


/* BODY */
.thread-title {
  color: var(--thread-item-title);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.thread-des {
  color: var(--thread-item-des);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.thread-des p,
.thread-des div,
.thread-des b,
.thread-des strong,
.thread-des i {
  color: var(--thread-item-des);
}

.thread-category p {
  color: var(--thread-item-des);
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

/* FOOT */

.thread-footer {
  display: flex;
  gap: 1rem;
}