:root {
  --thread-item-border: #212631;
  --thread-item-shadow: rgba(0, 0, 0, 0.2);
  --thread-item-bg: #e0e4eb;
  --thread-item-bg-hover: #ffffff;
  --thread-item-title: #0a0e15;
  --thread-item-title-hover: #1f46a6;
  --thread-item-des: #212631;
  --thread-item-date: #212631cd;
}

[data-theme="light"] {
  --thread-item-border: #ffffff;
  --thread-item-shadow: rgba(0, 0, 0, 0.2);
  --thread-item-bg: #0a0e15;
  --thread-item-bg-hover: #0a0e15;
  --thread-item-title: #ffffff;
  --thread-item-title-hover: #799bf1;
  --thread-item-des: #ffffff;
  --thread-item-date: #ffffffc1;
}

.thread {
  display: flex;
  align-items: stretch;
}

.threads-item {
  border: 1px solid var(--thread-item-border);
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 5px 10px var(--thread-item-shadow);
  background-color: var(--thread-item-bg);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition: 0.3s ease;
  justify-content: start;
  width: 100%;
  overflow: auto;
  height: 100%;
}
.threads-item:hover {
  background-color: var(--thread-item-bg-hover);
  transition: 0.3s ease;
}

.thread-title {
  overflow: auto;
}

.threads-item h3 a {
  color: var(--thread-item-title);
  margin-block: 0;
  text-decoration: none;
}
.threads-item h3 a:hover {
  color: var(--thread-item-title-hover);
}

.thread-des {
  margin-top: 0.25rem;
  overflow: auto;
}
.thread-des p,
.thread-des div {
  color: var(--thread-item-des);
  margin-block: 0;
}
.thread-des div b,
.thread-des div strong,
.thread-des div i {
  color: var(--thread-item-des);
}

.thread-date p {
  color: var(--thread-item-date);
  font-size: 0.8rem;
  margin-block: 0;
}

.threads-item .buttons {
  align-self: flex-end;
}
